@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

:root {
	/* Colors */
	--blackpure: #000;
	--black: #171718;
	--black-border: #26292d;
	--white: #fff;
	--purple: #8c52ff;
	--rgba: rgba(0, 0, 0, 0.4);
	--rgba-dark:rgba(197, 142, 252, 0.8);
	/* Home  */
	--main-color: var(--purple);
	--text-color: var(--black);
	--bg-color: var(--white);
	--btn-text-color: var(--white);
	--shadow-color: var(--rgba);
	/* Nav Footer */
	--nav-color: var(--black);
	--nav-bg-color: var(--black);
	--nav-text-color: var(--white);
	--footer-btn: var(--white);
}

.dark-mode{
	--bg-color:var(--black);
	--text-color:var(--white);
	--shadow-color: var(--rgba-dark);
}

/* General  */
html {
	font-size: 62.5%;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

section {
	min-height: 100vh;
	padding: 10rem 7% 2rem;
}

span {
	color: var(--main-color);
}

.heading {
	font-size: 4.5rem;
	text-align: center;
	line-height: 1.2;
}
