/* About  */

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	background: var(--white-color);
}

.about-img img {
	width: 38vw;
}

.about-content h2 {
	text-align: left;
	font-size: 2.3rem;
	font-weight: 700;
	margin-bottom: .5rem;

}

.about-content p {
	font-size: 1.3rem;
}
.about-content span {
	font-weight: 700;
}
