@import './../styles/main.css';

/* Header   */
.header {
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 7%;
	z-index: 100;
	background: var(--nav-bg-color);
	box-shadow: 0 .2rem 5rem 0 var(--shadow-color);
}

.logo {
	font-size: 2.5rem;
	color: var(--main-color);
	font-weight: 600;
	cursor: default;
	margin-right: auto;
}

.navbar a {
	position: relative;
	font-size: 1.8rem;
	color: var(--nav-text-color);
	font-weight: 500;
	margin-right: 3.5rem;
}

.navbar a:hover{
	color: var(--main-color);
}

#darkMode-icon {
	font-size: 2.4rem;
	color: var(--nav-text-color);
	cursor: pointer;
}
#darkMode-icon:hover{
	color: var(--main-color);
}

/*  menu  */
#menu-icon {
	font-size: 3.6rem;
	color: var(--nav-text-color);
	display: none;
}


/*  header.sticky  */
.header.sticky {
	background: var(--main-color);
}
.header.sticky .logo {
	color: var(--black);
}

.header.sticky .navbar a span {
	color: var(--white-color);
}
.header.sticky .navbar a:hover{
	color: var(--black);
}

.header.sticky .navbar a::before {
	background: var(--main-color);
	opacity: .7;
}

.header.sticky #darkMode-icon {
	color: var(--white-color);
	opacity: .9;
}