@import './../styles/main.css';

.portfolio--title {
    margin-bottom: 2%;
}

.portfolio--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.portfolio--card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5rem;
    flex: 1 0 0;
    background-color: var(--bg-color);
    box-shadow: 0 0 3rem 0 var(--shadow-color);
    cursor: pointer;
    border-top-right-radius: 3rem 3rem;
    border-top-left-radius: 3rem 3rem;
}

.portfolio--img {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 0 3rem 0 var(--shadow-color);
    border-radius: 2rem;
}

.portfolio--img img {
    display: block;
    width: 100%;
    border-radius: 2rem;
    transition: .5s ease;
}

.portfolio--img:hover img {
    transform: scale(1.1);
}

.portfolio--card--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.9rem;
    padding: .5rem;
}

.portfolio--card--content h4 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.portfolio--card--content p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.portfolio--link {
    text-decoration: none;
    display: flex;
    gap: 0.9rem;
    padding-bottom: 10.6px;
    font-weight: 600;
}

.portfolio--card--content .btn {
    font-size: 1.3rem;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

@media screen and (max-width: 1024px) {
    .portfolio--container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 991px) {
    .portfolio {
        margin-bottom: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .portfolio--container {
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio--card {
        margin-bottom: 7rem;
    }
}

@media screen and (max-width: 450px) {
	html{
		font-size: 50%;
	}
}

@media screen and (max-width: 365px) {
	html {
		font-size: 45%;
	}
}
